In [31]:
from sklearn.feature_extraction.text import CountVectorizer
import spacy
import pandas as pd
# load english language model in spacy 
nlp = spacy.load('en_core_web_sm')

In [11]:
# v = CountVectorizer()
# v = CountVectorizer(ngram_range=(2,2))
v = CountVectorizer(ngram_range=(1,3))

data = ['Thor Hathodawala is looking for a job', 'Hello World']
v.fit_transform(data)
v.vocabulary_

{'thor': 14,
 'hathodawala': 2,
 'is': 7,
 'looking': 11,
 'for': 0,
 'job': 10,
 'thor hathodawala': 15,
 'hathodawala is': 3,
 'is looking': 8,
 'looking for': 12,
 'for job': 1,
 'thor hathodawala is': 16,
 'hathodawala is looking': 4,
 'is looking for': 9,
 'looking for job': 13,
 'hello': 5,
 'world': 17,
 'hello world': 6}

In [22]:
def preprocess(text):
    doc = nlp(text)

    filtered_tokens = []
  
    for token in doc:
        if token.is_stop or token.is_punct:
            continue
        filtered_tokens.append(token.lemma_)

    # list covert to string
    return ' '.join(filtered_tokens)

preprocess('Thor Hathodawala is looking for a job')

'Thor Hathodawala look job'

In [16]:
# collection of documents
corpus = [
    "Thor ate pizza",
    "Loki is tall",
    "Loki is eating pizza"
]

In [21]:
corpus_processed = [preprocess(text) for text in corpus]
corpus_processed

['thor eat pizza', 'Loki tall', 'Loki eat pizza']

In [27]:
v = CountVectorizer(ngram_range=(1,2))
v.fit(corpus_processed)
v.vocabulary_

{'thor': 7,
 'eat': 0,
 'pizza': 5,
 'thor eat': 8,
 'eat pizza': 1,
 'loki': 2,
 'tall': 6,
 'loki tall': 4,
 'loki eat': 3}

**Converting text to number**

In [28]:
v.transform(['Thor eat pizza']).toarray()

array([[1, 1, 0, 0, 0, 1, 0, 1, 1]])

**Out Of vocabular problem**

In [29]:
v.transform(['Hulk eat pizza']).toarray()

array([[1, 1, 0, 0, 0, 1, 0, 0, 0]])

In [36]:
df = pd.read_json('data/news_dataset.json')
# lines = True means each line is a json object

df.shape
df.head()

                                                text  category
0  Watching Schrödinger's Cat Die University of C...   SCIENCE
1     WATCH: Freaky Vortex Opens Up In Flooded Lake    SCIENCE
2  Entrepreneurs Today Don't Need a Big Budget to...  BUSINESS
3  These Roads Could Recharge Your Electric Car A...  BUSINESS
4  Civilian 'Guard' Fires Gun While 'Protecting' ...     CRIME

**Finding the dataset is imablanced or not**

In [37]:
df['category'].value_counts()

category
BUSINESS    4254
SPORTS      4167
CRIME       2893
SCIENCE     1381
Name: count, dtype: int64

**Undersampling the dataset to balanced the dataset**

In [39]:
min_samples = 1381

df_business = df[df['category'] == 'BUSINESS'].sample(min_samples, random_state=42)
# random_state=42 means same random samples will be selected each time